@tailwind base;
@tailwind components;
@tailwind utilities;

input[type=text] {
  padding: 5px;
}

.correct {
  border-style: solid;
  border-bottom-color: #62A342;
  border-bottom: 4px solid #62A342;
}

.wrong {
  border-bottom: 4px solid red;
  border-style: solid;
  border-bottom-color: red;
}
